<%= form_with(model: task, data: {turbo: false}) do |form| %>
  <% if task.errors.any? %>
    <div class="card mb-4">
      <div class="card-header text-bg-danger">
        OOPS!!
      </div>
      <div class="card-body">
        <h4 class="alert-heading"><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: " form-label" %>
    <%= form.text_field :name, class: "form-control mb-2", placeholder: "Task Name (should be minimum 5 Charachters long)" %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block", class: " form-label" %>
    <%= form.date_field :due_date, class: "form-control mb-2", value: @task.due_date || 1.day.after(Date.current) %>
  </div>

  <div>
    <%= form.label :status, style: "display: block", class: " form-label" %>
    <%= form.select :status, Task.statuses.keys.map { |type| [type.humanize, type] }, {}, class: 'form-control mb-2' %>
  </div>

  <div>
    <%= form.submit class: "mt-2 btn btn-warning margin_right" %>
  </div>
<% end %>
